.background-click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    gap: 32px;
}

.add-task-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 48px;
    width: 148px;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: white;
    border-radius: 10px;
    background-color: #2A3647;
    border: none;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

.search-input {
    width: 180px;
    height: 24px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 22px;
}

.search-input:focus {
    outline: none;
}

.search-field:has(.search-input:focus) {
    border: 1px solid #29ABE2;
}

.search-field {
    width: 312px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    height: 46px;
}

.search-icon {
    cursor: pointer;
}

.search-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    margin-right: 18px;
    margin-left: 18px;
}

.search-background:hover {
    background-color: #D1D1D1;
    border-radius: 200px;
}

@media (max-width: 1000px) {
    .title {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }

    .kanban-subtitle {
        max-width: 55px;

    }
}

.kanban-board {
    display: flex;
    flex-direction: column;
    width: 246px;
}

.kanban-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    gap: 32px;
}

@media (max-width: 720px) {
    .search-bar{
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .kanban-wrapper {
        flex-direction: column;
    }

    .kanban-card-board {
        flex-direction: row !important;
        min-height: 100px !important;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 8px 0px 16px 0px;
    }

    .kanban-board {
        width: 90%;
    }
}

@media (max-width: 1160px) {
    .add-task-board-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .add-task {
        position: unset !important;
        margin-bottom: 22px;
    }

    .title-description-overlay {
        position: unset !important
    }

    .due-prio {
        position: unset !important;
        margin-top: 82px;
    }

    .separator {
        display: none !important;
    }

    .overlay-add-task {
        width: auto !important;
        padding: 22px 2px 22px 22px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .buttons {
        position: unset !important;
        margin-top: 122px;
    }

    .task-added-to-board {
        display: none !important;
    }

    .new-div-for-subtasks {
        position: unset !important;
    }

    .field-required {
        position: unset !important;
        margin-top: 22px;
    }

    .circles-contacts-div {
        position: unset !important;
    }

    .calendar-container {
        left: 120px!important;
        top: 650px!important;
    }
}



@media (max-height: 930px),
(max-width: 600px) {
    .card-board-task-overlay {
        transform: translate(50%, -50%) scale(0.75) !important;
        margin-top: 0 !important;
        padding: 48px 40px 24px 40px !important;
        
    }

    .title-add-task-overlay {
        width: 100% !important;
    }

    .description {
        width: 100% !important;
    }

    .input-outside3 {
        width: 90% !important;
    }

    .text-area-div {
        width: 90% !important;
    }

    .prio-buttons {
        width: 90% !important;
        justify-content: unset !important;
        gap: 12px;

    }

    .prio {
        width: 100% !important;
    }

    .assigned {
        width: 100% !important;
    }

    .assigned-input {
        width: 90% !important;
    }

    .text-area {
        width: 100% !important;
    }

    .list-of-contacts {
        width: 90% !important;
    }

    .list-of-contacts-outside-2 {
        width: 100% !important;
    }

    .initials-and-name-div {
        width: 90% !important;
    }

    .assigned-subtasks {
        width: 90% !important;
    }

    .assigned-input-subtasks {
        width: 100% !important;
    }

    .new-div-for-subtasks {
        width: 100% !important;
    }

    .div-contact {
        min-width: 0 !important;
    }
}

@media (max-width: 600px) {
    .overlay-add-task {
        overflow-x: auto;
    }

    .card-board-task-overlay {
        max-height: 440px !important;
        min-height: 540px;
    }

    main {
        padding-left: 16px !important;
        padding-right: 32px !important;
        width: 100% !important;
    }

    .kanban-wrapper {
        padding-bottom: 96px !important;
    }

    .add-task-button {
        display: none !important;
    }

    .title {
        margin-top: 126px !important;
    }

    .search-bar {
        width: 100%;
        height: 58px;
        flex-direction: column;
        gap: 8px;
    }

    .search-field {
        width: 90%;
        height: 100%;
    }

    .search-input {
        width: 80%;
    }

    .card-board {
        min-width: 232px;
        max-width: 252px;
    }

    .heading-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        font-size: 42px!important;
    }

    .mobile-add-task-button {
        display: flex !important;
    }

    .kanban-subtitle {
        max-width: 100%;
    }
}

.circles-contacts-div_2 {
    width: auto;
    height: 42px;
    left: 96px;
    bottom: 267px;
    display: flex;
}

.mobile-add-task-button {
    width: 40px;
    height: 40px;
    background-color: #2A3647;
    display: none;
    border-radius: 10px;
    appearance: none;
    border-width: 0px;
    justify-content: center;
    align-items: center;
}

.kanban-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.kanban-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #42526E;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-task-board {
    stroke: #2A3647;
    cursor: pointer;
}

.add-task-board:hover {
    stroke: #29ABE2;
}

.kanban-card-board {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    min-height: 600px;
}


.hilighting-kanban {
    background-color: rgba(144, 144, 144, 0.391);
    border-radius: 24px;
    opacity: 0.5;
    border: 1px dotted gray;
}

.no-task-in-kanban {
    width: 100%;
    height: 48px;
    background-color: #E7E7E7;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #A8A8A8;
}

.overlay-board-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 9;
}

.overlay-add-task {
    width: 95%;
    height: 95%;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: white;
    max-width: 1116px;
    max-height: 870px;
    margin-top: 88px;
    position: fixed;
    transition: right 0.25s ease-in-out;
    top: 50%;
    right: -100%;
    transform: translate(50%, -60%);
    z-index: 10;
}

.card-board-task-overlay {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: white;
    max-width: 465px;
    max-height: 835px;
    margin-top: 88px;
    position: fixed;
    transition: right 0.25s ease-in-out;
    top: 50%;
    right: -100%;
    transform: translate(50%, -60%);
    z-index: 10;
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.overlay-add-task-transition {
    right: 50%;
}

.display-opacity-board {
    display: none;
}

.card-board {
    max-height: 264px;
    background-color: #FFFFFF;
    height: fit-content;
    box-shadow: 0px 0px 10px 3px #ac9d9d14;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
    cursor: pointer;
    min-width: 188px;
    max-width: 228px;
}




.card-category {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
    width: fit-content;
}

.card-board-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-board-title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: #2A3647;
    overflow-wrap: break-word;
}

.card-board-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #A8A8A8;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;

}

.card-board-subtask-progress-wrap {
    width: 58%;
}

.card-board-subtask {
    display: flex;
    flex-direction: row;
    max-width: 220px;
    gap: 8px;
    align-items: center;
}

.card-board-subtask-progress-background {
    width: 100%;
    background-color: #F4F4F4;
    height: 8px;
    border-radius: 8px;
}

.card-board-subtask-progress {
    background: #4589FF;
    width: 0;
    height: 8px;
    border-radius: 8px;
}

.card-board-subtask-number {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;

}

.card-board-urgent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-board-contact-urgent-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-board-contacts {
    display: flex;
    justify-content: center;
}

.card-board-contact-icon {
    width: 32px;
    height: 32px;
    background-color: orange;
    border-radius: 45px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
    border: 2px solid white;
}

.display-board-none {
    display: none;
}

.card-overlay-category {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    font-family: "Inter", sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    width: fit-content;
}

.inner-div-overflow{
    overflow-y: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
}


.card-overlay-category-close-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-overlay-title {
    font-family: "Inter", sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    overflow-wrap: break-word;
}

.card-overlay-descritption {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    word-wrap: break-word;
    text-wrap: wrap;
}

.card-overlay-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.card-overlay-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A3647;
}

.card-overlay-date {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.prio-wrapper-overlay {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 18px 4px 18px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.card-overlay-contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card-overlay-contact-card {
    padding: 7px 16px 7px 16px;
    display: flex;
    justify-content: space-between;
}

.coard-board-contact-name {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: left;
}

.card-overlay-subtask-title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}

.card-overlay-close {
    cursor: pointer;
}

.card-overlay-subtask {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 16px 6px 16px;
    width: fit-content;
}

@media (min-width: 800px) {
    .card-overlay-subtask:hover{
        background-color: #D1D1D1;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .card-overlay-contact-card:hover{
        background-color: #D1D1D1;
        border-radius: 10px;
    }
}

.check-mark-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-overlay-edit-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #2A3647;

}

.card-overlay-delete-edit-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.card-overlay-delete-edit-wrapper:hover {
    color: #29ABE2;
}

.card-overlay-delete-edit-wrapper:hover path {
    fill: #29ABE2;
}

.overflow-card-board {
    height: 98px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.overflow-card-board::-webkit-scrollbar {
    width: 2px;
}

.overflow-card-board::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.container-edit-overlay {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
    height: 90%;

}


.postion-relativ {
    position: relative !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-0 {
    z-index: 0;
}

.z-1 {
    z-index: -1;
}

.z1 {
    z-index: 1;
}

.list-of-contacts-outside-2 {
    width: 441px;
    height: 240px;
    transform: translateY(-45px);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}
