body {
    display: flex;
    background-color: #f5f6f7;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: #CDCDCD;
}

main {
    max-width: 1440px;
    outline: 2px solid black;
    outline-offset: -2px;
    width: calc(100% - 232px);
    padding-left: 186px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}

main::-webkit-scrollbar {
    width: 4px;
    /* Macht die Scrollbar extrem dünn */
}


.title {
    margin-top: 188px;
}

@media (max-width: 970px) {
    .title{
        font-size: 41px;
    }
}