:root {
    --translate-x: 6000px;
    --translate-y: 0px;
    --created-x: 560px;
    --created-y: 0px;
}

body {
    margin: 0;
    background-color: #F6F7F8;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.gap-8 {
    margin-left: 24px;
}

.background-change {
    background-color: #2A3647;
    transition: background-color 0.1s ease-out;
    border-radius: 15px;
    color: white;
}

.dialog-bg-outer {
    position: absolute;
    left: calc((100% / 2) - (973px / 2));
    bottom: calc((100vh / 2) - (476px / 2));
    z-index: 3;
    width: 973px;
    height: 476px;
    overflow: hidden;
    transform: translate(var(--translate-x), var(--translate-y));
    transition: transform 0.35s ease;
}

.show-overlay-menu {
    transform: translate(0px, 0px) !important;
}

.contact-created {
    z-index: 10;
    display: block;
    position: absolute;
    left: 414px;
    top: 570px;
    width: calc(334px * 0.8);
    height: calc(82px * 0.8);
    transform: translate(var(--created-x), var(--created-y));
    transition: transform 0.3s ease;
}

.show-contact-created {
    transform: translate(0, 0);
}

.contact-created img {
    transform-origin: left top;
    scale: 0.8;
}

.dialog-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    width: 1212px;
}

.fading-background {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1500ms ease-in-out;
}

.logo {
    width: 55.6px;
    height: 66.48px;
    margin-left: 45px;
    margin-top: 154px;
}

.text {
    margin-left: 45px;
}

.edit-text {
    margin-left: 46.9px;
    margin-top: 24px;
}

.filler {
    color: white;
}

.dialog {
    height: 592px;
    width: 759px;
    background-color: white;
    border-radius: 0 30px 30px 0;
}

.flag {
    background-color: #2A3647;
    height: 592px;
    width: 453px;
    border-radius: 30px 0 0 30px;
}

.information {
    height: 364px;
    width: 461px;
}

.content {
    display: flex;
}

.new-user {
    width: 120px;
    margin-left: 83px;
    margin-top: 204px;
}

.sub-buttons {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sub-text {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.info-box {
    display: flex;
}

.info-user {
    width: 120px;
}

.name-warning {
    color: #FF8190;
    position: absolute;
    top: 56px;
    left: 0px;
    font-weight: 400;
    font-size: 13px;
}

.mail-warning {
    color: #FF8190;
    position: absolute;
    top: 138px;
    left: 0px;
    font-weight: 400;
    font-size: 13px;
}

.phone-warning {
    color: #FF8190;
    position: absolute;
    top: 219px;
    left: 0px;
    font-weight: 400;
    font-size: 13px;
}

.info-name {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    height: 32px;
    margin-top: 20px;
}

.info-icons {
    width: 24px;
    margin-right: 13px;

}

.contact-info {
    width: 207px;
    height: 74px;
    display: flex;
    align-items: center;
}

.contact-text {
    font-weight: 400;
    font-size: 20px;
}

.custom-text {
    font-weight: 700;
}

.mail-design {
    text-decoration: none;
}

.mail-design2 {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-top: -10px;
    color: #007CEE;
}

.max-width {
    width: 287px;
    white-space: nowrap;

}

.phone-design {
    text-decoration: none;
    color: black;
}

.close {
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 32px;
    height: 32px;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    background-color: rgba(0 0 0 / 0.08);
}

.d-none {
    display: none;
}

.input-fields {
    width: 422px;
    height: 215px;
    position: absolute;
    top: 137px;
    left: 289px;
}

.buttons {
    width: 322px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 289px;
    top: 400px;
}

.button-img {
    cursor: pointer;
}

.create-button {
    width: 214px;
    height: 57px;
    border-radius: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    border: none;
    margin-left: 24px;
}

.cancel-button {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #ffffffff;
    color: #2A3647;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel2 {
    margin-left: 10px;
    width: 15px;
}

.create-img {
    margin-left: 4px;
}

.save-button {
    width: 111px;
    height: 57px;
    border-radius: 8px;
    background-color: #2A3647;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    border: none;
    margin-left: 25px;
}

.delete-button {
    width: 113px;
    height: 57px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background-color: #ffffffff;
    color: #2A3647;
    cursor: pointer;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-settings {
    display: flex;
    align-items: center;
}

.hover-container {
    display: flex;
    align-items: center;
}

.cancel-button:hover,
.delete-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0 6px 2px -2px rgba(0 0 0 / 0.2);
}

.hover-container:hover {
    color: #29ABE2;
    filter: brightness(0) saturate(100%) invert(46%) sepia(99%) saturate(1354%) hue-rotate(200deg) brightness(102%) contrast(92%);
}

.cancel-button:hover img,
.delete-button:hover img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(99%) saturate(1354%) hue-rotate(200deg) brightness(102%) contrast(92%);
}

.create-button:hover,
.add-button:hover,
.save-button:hover {
    background-color: #29ABE2;
    box-shadow: 0 6px 2px -2px rgba(0 0 0 / 0.2);
}

.contact-container {
    position: relative;
    background-color: #ffffff;
    width: 456px;
    height: 928px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.fixed-button {
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.add-button {
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    border: none;
    top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person {
    width: 32px;
    height: 32px;
    margin-left: 16px;

}

.top-section {
    display: flex;
    justify-content: center;
    width: 436px;
    height: 101px;
    background-color: #ffffff;
    position: fixed;
}

.contact-list {
    display: flex;
}

.alphabet {
    width: 352px;
    height: 58px;
    margin-top: 8px;
}

.alphabet h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.single-contact {
    -webkit-tap-highlight-color: transparent;
    width: 352px;
    height: 78px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 20px
}

.single-contact:not(.background-change):hover {
    border-radius: 15px;
    background-color: #f2f2f2;
}

.active {
    background-color: #29ABE2;
}

.contact-placeholder {
    width: 42px;
    margin-right: 40px;
}

.profile-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-headline {
    position: absolute;
    width: 569px;
    height: 73px;
    top: 65px;
    left: 511px;
}

.headline-stat {
    display: flex;
    align-items: center;
}

.headline-stat h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin-right: 30px;
}

.headline-stat h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    margin-left: 30px;
}

.overlay-menu {
    background-color: #F6F7F8;
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 461px;
    height: 364px;
    transform: translate(8000px);
    transition: all 225ms ease-in-out;
    top: 190px;
    left: 518px;
    margin-top: 21px;
}

.contacts-window {
    margin-top: 96px;
    width: 1208px;
    height: 928px;
    position: relative;
}

.circles-contacts-div {
    width: auto;
    height: 42px;
}

.contact-circle {
    width: 42px;
    height: 42px;
    background-color: #3498db;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-right: 35px;
    margin-left: 20px;
    margin-top: 10px;
    top: 5px;
}

.big-contact-circle {
    width: 120px;
    height: 120px;
    background-color: #3498db;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-weight: 500;
    margin-right: 48px;
    top: 5px;
}

.center-content {
    display: flex;
    align-items: center;
}