
body {
    background-color: #f5f6f7ff;
    margin: 0;
    height: 100vh;
}

.capa {
    width: 274px;
    height: 334px;
    position: absolute;
    left: calc((100% / 2) - (274px / 2));
    top: calc((100% / 2) - (334px / 2));
    transition: all 1s;
}

.capa2 {
    position: absolute;
    width: 100px;
    height: 122px;
    left: 77px;
    top: 80px;
}

.display-none {
    display: none;
}



