@media (min-height: 1024px) {

    @media (min-width: 1440px) {

        .main-div {
            width: 1440px;
            height: 1024px;
            position: relative;

            border: 1px solid black;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

