.main {
    position: absolute;
    top: 26px;
    left: 142px;
    overflow: auto;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: -26px;
    scale: 0.8;
    margin-bottom: -44px;
    scrollbar-width: none;
}

.arrow-text-subpages-outer {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: absolute;
    right: 27px;
    top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-text-subpages {
    width: 21px;
    height: 21px;
}

.arrow-text-subpages-outer:hover {
    background-color: rgba(0 0 0 / 0.08);
    scale: 1.1;
}

.title {
    margin-top: 0px;
}

.capa-header {
    width: 32px;
    height: 39px;
    position: absolute;
    left: 27px;
    top: 21px;
}

header {
    justify-content: space-between;
    z-index: 2;
    height: 70px;
}

.user-icon {
    font-size: 27px;
}

.top-aside svg,
.user-icon,
.header-profile svg {
    scale: 0.75;
}

.header-profile {
    position: absolute;
    right: 40px;
}

.header-profile>a:hover {
    scale: 1.2;
}

.header-content {
    padding: 20px 40px 20px 330px;
}

aside {
    z-index: 3;
    width: 168px;
}

.header-content {
    padding: 20px 40px 20px 222px;
}

.user-icon-menu {
    margin-top: 235px;
    scale: 0.8;
    right: -66px;
}

.text-body {
    font-size: 12px;
    line-height: 5.2px;
}

.ui-p {
    font-size: 16px;
}

@media (max-width: 650px) {

    .header-content {
        padding: 20px 40px 20px 195px;
    }

    .header-profile {
        right: 16px;
    }

    .user-icon-menu {
        transform: translateX(-36%);
    }
}

@media (max-width: 600px) {

    .user-icon-menu {
        transform: translateX(-52%);
        margin-top: 251px;
        right: -91px;
        top: -218px;
    }

    .ui-p,
    .legal-div,
    .top-aside>svg,
    .header-profile>a {
        display: none;
    }

    .header-profile {
        position: absolute;
        right: 16px;
        scale: 0.9;
    }

    header {
        height: 80px;
    }

    aside {
        top: unset;
        height: 80px;
        left: 0;
        bottom: 0px;
        width: 100%;
    }

    .top-aside {
        transform: translateY(3px);
    }

    .menu-table {
        width: 80px;
        border-spacing: 0;
    }

    .menu-table>tbody {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-table>tbody tr {
        display: flex;
        flex-direction: column;
        width: 76px;
        height: 76px;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .menu-table>tbody tr td svg {
        margin-top: 26px;
    }

    .menu-table>tbody tr td {
        margin-bottom: 7px;
        transform: translateY(-12px);
    }

    .menu-table {
        width: 100%;
    }

    .menu-table td {
        padding: 0;
    }

    .menu-table td svg {
        scale: 0.9;
    }

    .menu-table td:first-child {
        padding-right: 0px;
    }

    .aside-content {
        padding: 0;
    }
}

@media (max-width: 440px) {

    .menu-table td svg {
        scale: 0.8;
    }

    tbody tr {
        font-size: 12px;
    }
}

/* -------------------------------------------- */

@media (max-width: 600px) {

    .main {
        scale: 0.7;
        left: -58px;
        margin-right: -58px;
        top: 0px;
        margin-bottom: 2px;
    }
}

@media (max-width: 400px) {

    .heading-1 {
        font-size: 54px;
    }
}