
.input-outside3 {
    display: flex;
    align-items: center;
    width: 440px;
    height: 47px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 24px;
    justify-content: space-between;
    margin-top: 8px;
    background-color: #FFFFFF;
    position: relative;
    cursor: pointer;
}

.input-outside3:has(input:focus) {
    border: 1px solid #29ABE2;
}

.input-add-task {
    width: inherit;
    height: 24px;
    border: none;
    margin: 0px 45px 0px 16px;
    font-size: 20px;
    font-weight: 400;
    background-color: #FFFFFF;
    outline: none;
    color: black;
    cursor: pointer;
}

.input-assigned-to::placeholder {
    color: black;
}

input::placeholder,
textarea::placeholder {
    color: #D1D1D1;
}

.text-area-div {
    width: 440px;
    height: 120px;
    border: 1px solid #D1D1D1;
    margin-top: 8px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.text-area-div:has(textarea:focus) {
    border: 1px solid #29ABE2;
}

.text-area-div img {
    width: 19px;
    height: 19px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.text-area {
    width: 404px;
    height: 88px;
    font-weight: 400;
    font-size: 21px;
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px transparent;
    resize: none;
    background-color: #FFFFFF;
    scrollbar-color: #A8A8A8 #f5f6f7ff;
    cursor: pointer;
}

.assigned-input {
    width: 440px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.assigned-input-hover:hover {
    border: 1px solid #A8A8A8;
    cursor: pointer;
}

.list-of-contacts-outside {
    width: 441px;
    height: 240px;
    transform: translateY(-45px);
    overflow: hidden;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.list-of-contacts {
    width: 441px;
    height: 202px;
    transform: translateY(-204px);
    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
    scrollbar-color: #A8A8A8 #f5f6f7ff;
}

.list-of-contacts2 {
    transform: translateY(0px);
    box-shadow: 0px 0px 14px 3px rgba(0 0 0 / 0.1);
}

.div-contact {
    width: auto;
    height: max-content;
    margin-bottom: 16px;
    margin-top: 17px;
}

.initials-and-name-div {
    display: flex;
    align-items: center;
    height: 56px;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 16px;
    position: relative;
    margin-bottom: 3px;
}

.initials-and-name-div:hover {
    background-color: #edededff;
}

.initials-and-name-div:is(.checked):hover {
    background-color: #091931;
}

.initials-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border: 2px solid white;
    margin-right: 16px;
}

.contact-checkbox {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.checked {
    background: #2A3647;
    color: white
}

.circles-contacts-div {
    width: auto;
    height: 42px;
    position: absolute;
    left: 96px;
    bottom: 267px;
    display: flex;
}

.assigned-input:has(input:focus) {
    border: 1px solid #29ABE2;
}

.arrow-div {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 12px;
    border-radius: 50%;
}

.arrow-div:hover {
    background-color: rgba(0 0 0 / 0.08);
}

.assigned-input img {
    width: 7px;
    height: 5px;
}

.category-z {
    z-index: 3;
}

.category-z:hover {
    border: 1px solid #A8A8A8;
}