.window {
    width: 1208px;
    height: 928px;
    position: relative;
    background-color: #f5f6f7ff;
    overflow: hidden;
    margin-top: 112px;

    border: 1px solid;
}

.for-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task {
    width: 278px;
    height: 73px;
    position: absolute;
    left: 96px;
    top: 110px;
    font-weight: 700;
    font-size: 61px;
}

.title-description {
    width: 440px;
    height: 376px;
    position: absolute;
    left: 96px;
    top: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field-required {
    width: auto;
    height: 27px;
    position: absolute;
    left: 96px;
    top: 830px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    display: flex;
}

.due-prio {
    width: 440px;
    height: 416px;
    position: absolute;
    left: 632px;
    top: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 424px;
    position: absolute;
    left: 584px;
    top: 231px;
    background-color: #D1D1D1;
}

.buttons {
    width: 309px;
    height: 56px;
    position: absolute;
    left: 763px;
    top: 793px;
    display: flex;
    justify-content: space-between;
}

.clear {
    cursor: pointer;
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid;
    border: 1px solid #2A3647;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
}

.create-task {
    cursor: pointer;
    width: 183px;
    height: 56px;
    background-color: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    border: none;
}

.create-task svg {
    margin-left: 9px;
}

.clear:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0 6px 2px -2px rgba(0 0 0 / 0.2);
}

.create-task:hover {
    background-color: #29ABE2;
    box-shadow: 0 6px 2px -2px rgba(0 0 0 / 0.2);
}

.title-add-task {
    width: 440px;
    height: 96px;
    position: relative;
}

.input-title::placeholder {
    color: #D1D1D1;
}

.required {
    position: absolute;
    left: 0px;
    bottom: -2px;
}

.description {
    width: 440px;
    height: 168px;
}

.assigned {
    width: 440px;
    height: 80px;
}

.input-due-date {
    margin-left: 16px;
    width: 119px;
    height: 24px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.due-date-icon {
    width: 18px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 14px;
}

.prio {
    width: 440px;
    height: 88px;
}

.prio-buttons {
    width: 440px;
    height: 56px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.prio-button1 {
    cursor: pointer;
    width: 136px;
    height: 56px;
    border-radius: 10px;
}

.prio-button1:is(.white-bg):hover {
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.prio-button2:is(.white-bg):hover {
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.prio-button3:is(.white-bg):hover {
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.white-bg {
    background: #FFFFFF;
    color: black;
}

.low-bg {
    background: #7AE229;
    color: #FFFFFF;
}

.medium-bg {
    background: #FFA800;
    color: #FFFFFF;
}

.urgent-bg {
    background: #FF3D00;
    color: #FFFFFF;
}

.prio-button2 {
    cursor: pointer;
    width: 136px;
    height: 56px;
    border-radius: 10px;
}

.prio-button3 {
    cursor: pointer;
    width: 136px;
    height: 56px;
    border-radius: 10px;
}

.font1 {
    font-weight: 400;
    font-size: 20px;
}

.font2 {
    font-weight: 400;
    font-size: 12px;
    color: #FF8190;
}

.task-added-to-board {
    width: 326px;
    height: 74px;
    border-radius: 20px;
    background: #2A3647;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -78px;
    left: calc((100% / 2) - 326px / 2);
    transition: bottom 0.2s ease-in-out;
    z-index: 7;
}

.task-added-to-board2 {
    bottom: calc((100% / 2) - 74px / 2);
    left: calc((100% / 2) - 326px / 2); 
}

.task-added-to-board img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.task-added-to-board span {
    margin-left: 30px;
}


